h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;

  margin: 0.5em 0; /* 1em sopra e sotto, 0 dx e sx */
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

p {
  margin: 0.25em 0;
}

ol,
ul {
  padding-left: 2em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

table {
  margin: 1em 0;
}

.amazon {
  background-color: rgb(20, 34, 34);
}

#firstlogo {
  width: 10%;
  height: 10%;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#menu {
  background-color: rgb(72, 72, 72);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
}

#menu a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
}

#gift {
  background-color: rgb(239, 176, 59);
  color: white;
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

#gift p {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 45%;
}

#holiday {
  width: 90%;
  height: 100px;
  background-image: url(bg-image.png);
  color: white;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
